ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border: solid 1px red;
}

ion-list {
    padding: 10px 10px 10px 0px;
    width: 90vw;
}

.photo-button-container {
    margin: 0px 10px;
}
