<div class="modal-min">

  <form [formGroup]="form" novalidate (submit)="onCreateNewClick()">
    <div fxLayout="row wrap" fxLayoutWrap="wrap" fxLayoutAlign="space-between">
      <div class="pb-1" fxFlex="100">
        <mat-form-field class="full-width">
          <mat-label>Talk Title</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Sub Title</mat-label>
          <input matInput formControlName="subTitle">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Broadcast Date/Time</mat-label>
          <input matInput type="datetime-local" formControlName="broadcastDateTime" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Web Link (http://mylink.link)</mat-label>
          <input matInput formControlName="broadcastWebLink">
        </mat-form-field>
      </div>
      <div class="" fxFlex="100">
        <button type="button" mat-button (click)="onCancelClick()">Cancel</button>
        <span fxFlex></span>

        <button mat-raised-button color="primary" type="submit">
          Add Talk <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
