loader{
     .loadingSpinner {
        margin-right: 15px;
        float:left;
        margin-bottom: 5px;
        width: 30px;
    }

    .loadingText {
        padding-top: 3px;
        margin-bottom: 5px;
    }
}
