form{
    width: 100vw;
}

.form-inner
{
    padding: 10px;
}

.marks-label {
    float:right;
    font-size: smaller;
}

ion-item {
    ion-label {
        margin: 3px 0px;
    }

    ion-input {
        margin: 3px 0px;
    }
}

