<ion-header [translucent]="true">
  <app-header [pageTitle]="'Dances'"></app-header>
</ion-header>
<ion-content>
  <app-loader [showLoading]="_venueLoading || _dancesLoading" [loadingText]="'Loading dances. Please wait...'">
  </app-loader>

  <app-notification-box *ngIf="_isError" header="Loading Problem" subText="Please check your internet connection." cardType="warning" icon="alert-outline"></app-notification-box>
  <app-notification-box *ngIf="!_dancesLoading && _noDances" header="No dances" subText="There are no dances at this venue." cardType="warning" icon="alert-outline"></app-notification-box>

  <ion-card *ngIf="!_venueLoading && !!myVenue">

    <ion-item *ngIf="myVenue">

      <h2>{{ myVenue.name }}</h2>
      <ion-avatar slot="end">
        <img src="assets/icon/missing-avatar-venue.png">
      </ion-avatar>
    </ion-item>

  </ion-card>

  <ion-card *ngIf="!_dancesLoading || !_noDances">

    <ion-list *ngIf="showPendingList">
      <ion-list-header>
        <ion-label>Expected Dances</ion-label>
        <ion-button disabled>
          <ion-icon name="time-outline" class="icon-circle black" slot="end"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let danceDto of pendingDances" (click)="goToDanceDetail(danceDto.danceId)" detail>
        <ion-avatar slot="start">
          <img src="{{ danceDto.teamPictureUrl | sizedImage: imageSize }}" [dertimagecheck]="imageSize"
            [defaultImage]="'assets/icon/missing-avatar-person.png'" [loadingImage]="'assets/icon/loading-avatar.gif'">
        </ion-avatar>
        <ion-text>
          <h2>{{danceDto.teamName}}</h2>
          <p>{{danceDto.competitionName}}</p>
        </ion-text>
      </ion-item>
    </ion-list>

  </ion-card>

  <ion-card *ngIf="!_dancesLoading || !_noDances">

    <ion-list *ngIf="showCompletedList">
      <ion-list-header>
        <ion-label>Completed Dances</ion-label>
        <ion-button disabled>
          <ion-icon name="lock-open-outline" class="icon-circle black" slot="end"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let danceDto of completedDances" (click)="goToDanceDetail(danceDto.danceId)" detail>
        <ion-avatar slot="start">
          <img src="{{ danceDto.teamPictureUrl | sizedImage: imageSize }}" [dertimagecheck]="imageSize"
            [defaultImage]="'assets/icon/missing-avatar-person.png'" [loadingImage]="'assets/icon/loading-avatar.gif'">
        </ion-avatar>
        <ion-text>
          <h2>{{danceDto.teamName}}</h2>
          <p>{{danceDto.competitionName}}</p>
        </ion-text>
      </ion-item>
    </ion-list>

  </ion-card>

  <ion-card *ngIf="!_dancesLoading || !_noDances">

    <ion-list *ngIf="showLockedList">
      <ion-list-header>
        <ion-label>Checked Dances</ion-label>
        <ion-button disabled>
          <ion-icon name="lock-closed-outline" class="icon-circle black" slot="end"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let danceDto of lockedDances" (click)="goToDanceDetail(danceDto.danceId)" detail>
        <ion-avatar slot="start">
          <img src="{{ danceDto.teamPictureUrl | sizedImage: imageSize }}" [dertimagecheck]="imageSize"
            [defaultImage]="'assets/icon/missing-avatar-person.png'" [loadingImage]="'assets/icon/loading-avatar.gif'">
        </ion-avatar>
        <ion-text>
          <h2>{{danceDto.teamName}}</h2>
          <p>{{danceDto.competitionName}}</p>
        </ion-text>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>
