{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "StorageConnection:Images": "UseDevelopmentStorage=true",
    "AzureWebJobs.ResizeDefaultImages.Disabled": "true",
    "AzureWebJobs.ResizeEventImages.Disabled": "true",
    "AzureWebJobs.ResizeGroupImages.Disabled": "true",
    "AzureWebJobs.ResizeSheetImages.Disabled": "true",
    "AzureWebJobs.ResizeDefaultImagesPolling.Disabled": "false",
    "AzureWebJobs.ResizeEventImagesPolling.Disabled": "false",
    "AzureWebJobs.ResizeGroupImagesPolling.Disabled": "false",
    "AzureWebJobs.ResizeSheetImagesPolling.Disabled": "false"
  }
}
