{
  "auth0-managementclientsecret": "",
  "auth0-managementclientid": "",
  "webclient-auth0-clientid": "",
  "pwaclient-auth0-clientid": "",
  "appinsights-telemetryid": "",
  "az-storage-images-accountkey": "",
  "az-storage-functions-accountkey": "",
  "mailgun-apikey": "",
  "sendgrid-apikey": "",
  "sqlconnection-servername": "",
  "sqlconnection-databasename": ""
}
