.notifications-drawer {
    max-width: 300px;

    .mat-mdc-list-item {
        height: auto !important;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 1px;

        .mat-icon {
            padding-right: 10px;
        }
    }

    .fill {
        display:flex;
    }



    .notification-list {
        min-width: 300px;
    }

}
